<p-table
  class="table"
  [value]="table1"
  [showGridlines]="true"
  scrollable="true"
  scrollHeight="flex"
  scrollWidth="flex"
  responsiveLayout="scroll"
  datatable.border.corlor
>
  <!-- 表頭 -->
  <ng-template pTemplate="header">
    <tr >
      <th pFrozenColumn>PID</th>
      <th>狀態</th>
      <th>程式計數器</th>
      <th>暫存器</th>
      <th>RAM限制</th>
      <th>已開啟檔案</th>
      <th>觸發時間</th>
      <th>預估時間</th>
      <th>剩餘時間</th>
      <th>優先度</th>
      <!-- <th>是否為週期性行程</th> -->
      <!-- <th>定時器是否啟用</th> -->
    </tr>
  </ng-template>

  <!-- 表格內容 -->
  <ng-template pTemplate="body" let-row>
    <tr>
      <td pFrozenColumn>{{ row.pid }}</td>
      <td>{{ row.state }}</td>
      <td>{{ row.programCounter }}</td>
      <td>{{ row.registers.join(", ") }}</td>
      <td>{{ row.memoryLimit }}</td>
      <td>{{ row.openFiles.join(", ") }}</td>
      <td>{{ row.triggerTimestamp }}</td>
      <td>{{ row.executionTime }}</td>
      <td>{{ row.remainingWaitTime }}</td>
      <td>{{ row.priority }}</td>
      <!-- <td>{{ row.isPeriodicTask ? "是" : "否" }}</td> -->
      <!-- <td>{{ row.isTimerActive ? "是" : "否" }}</td> -->
    </tr>
  </ng-template>
</p-table>
