<div>
  <label class="w-full mb-4">{{ cores }}</label>
  <div class="card flex justify-center">
    <p-slider max="4" min="0" [(ngModel)]="cores" (onChange)="onCoresChange($event)" styleClass="w-56" />
  </div>
  <div class="kernel-time-display">
    <h3>核心時間：{{ kernelTime }}</h3>
  </div>
</div>
<div class="cpu-controls">
  <p-dropdown [options]="algorithmService.algorithmOptions" [(ngModel)]="selectedAlgorithm" placeholder="選擇演算法"
    optionLabel="label" autoOptionFocus="true"></p-dropdown>
</div>
<p-button label="啟動" icon="pi pi-play" (click)="startKernelTime()"></p-button>
<p-button label="暫停" icon="pi pi-pause" (click)="pauseKernelTime()"></p-button>
<p-button label="重置" icon="pi pi-stop" (click)="stopKernelTime()"></p-button>
<div class="queue-display">
  <h3>執行空間 (Running Space)</h3>
  <ul>
    <li *ngFor="let process of algorithmService.runningSpace">
      PID: {{ process.pid }}, 狀態: {{ process.state }}, 剩餘時間:
      {{ process.remainingTime }}
    </li>
  </ul>
</div>