<p-table
  class="table"
  [value]="table"
  [showGridlines]="true"
  scrollable="true"
  scrollHeight="flex"
  scrollWidth="flex"
  responsiveLayout="scroll"
  datatable.border.corlor
>
  <!-- 表頭 -->
  <ng-template pTemplate="header">
    <tr>
      <th pFrozenColumn>PID</th>
      <th>狀態</th>
      <!-- <th>暫存器</th> -->
      <!-- <th>RAM限制</th> -->
      <th>已開啟檔案</th>
      <th>觸發時間</th>
      <th>預估時間</th>
      <th>剩餘時間</th>
      <th>已執行時間</th>
      <!-- <th>累計備妥時間</th> -->
      <!-- <th>累計等待時間</th> -->
      <th>優先權</th>
      <th>定時器</th>
    </tr>
  </ng-template>

  <!-- 表格內容 -->
  <ng-template pTemplate="body" let-row>
    <tr>
      <td pFrozenColumn>
        <button
          (click)="toggleRowHighlight(row)"
          [ngStyle]="{
            'background-color':
              row.state == 'Waiting' && !row.isTimerActive
                ? 'red'
                : 'transparent'
          }"
          pTooltip="該行程不可中斷，因為它已終止，或計時器已啟動"
          tooltipPosition="left"
          [tooltipDisabled]="row.state !== 'Terminated' && !row.isTimerActive"
          [disabled]="row.state === 'Terminated' || row.isTimerActive"
        >
          {{ row.pid }}
        </button>
      </td>
      <td [ngClass]="{ 'flash-red': row.flashState }">{{ row.state }}</td>
      <!-- <td [ngClass]="{ 'flash-red': row.flashRegisters }">
        {{ row.registers.join(", ") }}
      </td> -->
      <!-- <td [ngClass]="{ 'flash-red': row.flashMemoryLimit }">
        {{ row.memoryLimit }}
      </td> -->
      <td [ngClass]="{ 'flash-red': row.flashOpenFiles }">
        {{ getOpenFilesArray(row) }}
      </td>
      <td [ngClass]="{ 'flash-red': row.flashTriggerTimestamp }">
        {{ row.triggerTimestamp }}
      </td>
      <td [ngClass]="{ 'flash-red': row.flashExecutionTime }">
        {{ row.executionTime }}
      </td>
      <td [ngClass]="{ 'flash-red': row.flashRemainingTime }">
        {{ row.remainingTime }}
      </td>
      <td [ngClass]="{ 'flash-red': row.flashRungingTime }">
        {{ row.rungingTime }}
      </td>
      <!-- <td [ngClass]="{ 'flash-red': row.flashCumulativeReadyTime }">
        {{ row.cumulativeReadyTime }}
      </td> -->
      <!-- <td [ngClass]="{ 'flash-red': row.flashCumulativeWaitingTime }">
        {{ row.cumulativeWaitingTime }}
      </td> -->
      <td [ngClass]="{ 'flash-red': row.flashPriority }">
        {{ row.priority }}
      </td>
      <td [ngClass]="{ 'flash-red': row.flashTimerActive }">
        {{ row.isTimerActive ? "Y" : "N" }}
      </td>
    </tr>
  </ng-template>
</p-table>
